.count {
    margin-top: 20px;
    // width: 315px;
    height: auto;
   margin-left: 10px;
   margin-right: 10px;
    text-align: center;
    color: #fff;
    // max-width: 40%;
    // height: auto;
    box-shadow: 3px 3px 3px #66470d;
    background-color: #212121f5 ;
    padding: 30px;

    .count-mark{
        margin-top: 20px;
        font-size: 36px;
        color: goldenrod;
    }
}